In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
from matplotlib import pyplot as plt
from matplotlib.axes._axes import _log as matplotlib_axes_logger
matplotlib_axes_logger.setLevel('ERROR')

import seaborn as sns

/kaggle/input/salmon-catch-statistics-for-scotland-19522022/SalmonandSeaTroutNets1952-2022.csv

# Fisheries: Salmon & Sea Trout Analysis

Scottish salmon is the UK's <b>number 1</b> food export and Scotland itself is famous for it's salmon fishing on rivers.

Salmon are a fascinating, migratory species. The eggs are laid upstream, inland. The fish eggs hatch and then the young fish travel out to sea where they mature over several years. The fish then return from the sea, travelling up the rivers, to their original spawning areas to spawn.

Sea trout are the same species as brown trout. They spawn in freshwater, the only difference is that sea trout have migrated to the sea.

## Objectives:

The ficticious aim of this analysis is to provide a health check on the salmon and sea trout populations in Scottish waters. This analysis could then be used to shape recommendations for future policy making. 

-Identify any trends with fish stocks over time.

-Look into the relationship between location and fish stocks.


## About the Data:

The data used is a csv file from [Kaggle](/https://www.kaggle.com/datasets/mikhail1681/salmon-catch-statistics-for-scotland-19522022), the data is sourced from the Scottish Government Marine Scotland License: UK Open Government Licence (OGL) website.
It contains data from 1952-2022.

# Inspecting the Dataset

In [2]:
# Open dataset as a pandas dataframe
df=pd.read_csv("/kaggle/input/salmon-catch-statistics-for-scotland-19522022/SalmonandSeaTroutNets1952-2022.csv")

# Make a copy of the dataset to work on, preventing any changes to the original and allowing an easy option to revert back
df1 = df.copy()

In [3]:
# See the first 5 rows 
df1.head()

,District,District ID,Report order,Region,Method,Year,Month,Month number,Wild MSW number,Wild MSW weight (kg),...,Wild 1SW weight (kg),Sea trout number,Sea trout weight (kg),Finnock number,Finnock weight (kg),Farmed MSW number,Farmed MSW weight (kg),Farmed 1SW number,Farmed 1SW weight (kg),Netting effort
0,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,February,2.0,107.0,400.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
1,Tweed,101.0,1.0,East,Net and Coble: Retained,1952.0,February,2.0,6606.0,24856.9,...,0.0,453.0,705.8,0.0,0.0,0.0,0.0,0.0,0.0,31.0
2,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,March,3.0,185.0,703.1,...,0.0,13.0,21.3,0.0,0.0,0.0,0.0,0.0,0.0,10.0
3,Tweed,101.0,1.0,East,Net and Coble: Retained,1952.0,March,3.0,7008.0,26151.9,...,0.5,848.0,1172.5,0.0,0.0,0.0,0.0,0.0,0.0,31.0
4,Tweed,101.0,1.0,East,Fixed Engine: Retained,1952.0,April,4.0,484.0,1912.3,...,0.0,14.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0

In [4]:
# See the last 5 rows, in this case the last 3 rows are NaN
df1.tail()

,District,District ID,Report order,Region,Method,Year,Month,Month number,Wild MSW number,Wild MSW weight (kg),...,Wild 1SW weight (kg),Sea trout number,Sea trout weight (kg),Finnock number,Finnock weight (kg),Farmed MSW number,Farmed MSW weight (kg),Farmed 1SW number,Farmed 1SW weight (kg),Netting effort
23138,Tweed,101.0,1.0,East,Net and Coble: Released,2022.0,September,9.0,2.0,14.7,...,0.0,2.0,2.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23139,Ythan,106.0,9.0,North East,Net and Coble: Released,2022.0,August,8.0,1.0,5.0,...,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Checking the sum of NaN entries in each column
df1.isna().sum()
#Each column has 3 NaN entries, this corresponds with the findings from above. The last 3 rows are blank and no more.

District                  3
District ID               3
Report order              3
Region                    3
Method                    3
Year                      3
Month                     3
Month number              3
Wild MSW number           3
Wild MSW weight (kg)      3
Wild 1SW number           3
Wild 1SW weight (kg)      3
Sea trout number          3
Sea trout weight (kg)     3
Finnock number            3
Finnock weight (kg)       3
Farmed MSW number         3
Farmed MSW weight (kg)    3
Farmed 1SW number         3
Farmed 1SW weight (kg)    3
Netting effort            3
dtype: int64

In [6]:
# Get the column names
df1.columns
# There is some unfamiliar vocab- 'MSW', '1SW', Finnock', this will need to be researched before the next stage
# Not all columns are relevant to this analysis

Index(['District', 'District ID', 'Report order', 'Region', 'Method', 'Year',
       'Month', 'Month number', 'Wild MSW number', 'Wild MSW weight (kg)',
       'Wild 1SW number', 'Wild 1SW weight (kg)', 'Sea trout number',
       'Sea trout weight (kg)', 'Finnock number', 'Finnock weight (kg)',
       'Farmed MSW number', 'Farmed MSW weight (kg)', 'Farmed 1SW number',
       'Farmed 1SW weight (kg)', 'Netting effort'],
      dtype='object')

In [7]:
# Get info on the dataset, identify any missing cells. 
# Taking into account the 3 NaN rows at the tail of df1, the other rows are complete, with a Non-Null Count of 23140 for all columns.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23143 entries, 0 to 23142
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   District                23140 non-null  object
 1   District ID             23140 non-null  float64
 2   Report order            23140 non-null  float64
 3   Region                  23140 non-null  object
 4   Method                  23140 non-null  object
 5   Year                    23140 non-null  float64
 6   Month                   23140 non-null  object
 7   Month number            23140 non-null  float64
 8   Wild MSW number         23140 non-null  float64
 9   Wild MSW weight (kg)    23140 non-null  float64
 10  Wild 1SW number         23140 non-null  float64
 11  Wild 1SW weight (kg)    23140 non-null  float64
 12  Sea trout number        23140 non-null  float64
 13  Sea trout weight (kg)   23140 non-null  float64
 14  Finnock number          23140 non-null  float64
 15  Finnock weight (kg)     23140 non-null  float64
 16  Farmed MSW number       23140 non-null  float64
 17  Farmed MSW weight (kg)  23140 non-null  float64
 18  Farmed 1SW number       23140 non-null  float64
 19  Farmed 1SW weight (kg)  23140 non-null  float64
 20  Netting effort          23140 non-null  float64
dtypes: float64(17), object(4)
memory usage: 3.7+ MB

From the initial inspection, the following observations can be made:
1. The data deals with both wild and farmed fish
2. MSW = Multi sea winter salmon
3. 1SW = One sea winter salmon
4. Finnock = A young sea trout (returning to freshwater after one sea winter, 1SW sea trout)
5. Rows 23140, 23141 and 23142 are NaN
6. Not all columns are relevant to this analysis

# Data Cleansing

The dataframe has been inspected, new vocabulary understood and some initial errors identified.
Now it is time to cleanse the data by removing incorrect, duplicate and incomplete data in preparation for the analysis.

In [8]:
# Remove last 3 rows (23140, 23141 and 23142) as they are blank cells
df1.drop(df1.tail(3).index, inplace = True)
# Check 
df1.tail()

,District,District ID,Report order,Region,Method,Year,Month,Month number,Wild MSW number,Wild MSW weight (kg),...,Wild 1SW weight (kg),Sea trout number,Sea trout weight (kg),Finnock number,Finnock weight (kg),Farmed MSW number,Farmed MSW weight (kg),Farmed 1SW number,Farmed 1SW weight (kg),Netting effort
23135,Tweed,101.0,1.0,East,Net and Coble: Released,2022.0,April,4.0,15.0,69.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23136,Tweed,101.0,1.0,East,Net and Coble: Released,2022.0,July,7.0,11.0,53.0,...,40.9,33.0,42.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23137,Tweed,101.0,1.0,East,Net and Coble: Released,2022.0,August,8.0,19.0,95.4,...,76.3,8.0,10.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23138,Tweed,101.0,1.0,East,Net and Coble: Released,2022.0,September,9.0,2.0,14.7,...,0.0,2.0,2.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23139,Ythan,106.0,9.0,North East,Net and Coble: Released,2022.0,August,8.0,1.0,5.0,...,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Remove 4 columns as they are not relevant to this study
df1 = df1.drop(columns= ['District ID', 'Method', 'Report order', 'Netting effort'])
#Check
df1.head()

,District,Region,Year,Month,Month number,Wild MSW number,Wild MSW weight (kg),Wild 1SW number,Wild 1SW weight (kg),Sea trout number,Sea trout weight (kg),Finnock number,Finnock weight (kg),Farmed MSW number,Farmed MSW weight (kg),Farmed 1SW number,Farmed 1SW weight (kg)
0,Tweed,East,1952.0,February,2.0,107.0,400.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Tweed,East,1952.0,February,2.0,6606.0,24856.9,0.0,0.0,453.0,705.8,0.0,0.0,0.0,0.0,0.0,0.0
2,Tweed,East,1952.0,March,3.0,185.0,703.1,0.0,0.0,13.0,21.3,0.0,0.0,0.0,0.0,0.0,0.0
3,Tweed,East,1952.0,March,3.0,7008.0,26151.9,1.0,0.5,848.0,1172.5,0.0,0.0,0.0,0.0,0.0,0.0
4,Tweed,East,1952.0,April,4.0,484.0,1912.3,0.0,0.0,14.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Rename the columns to make the names more succint and easier to work with
df1.columns= ['District', 'Region', 'Year', 'Month', 'Month no',
       'Wild MSW no', 'Wild MSW kg', 'Wild 1SW no',
       'Wild 1SW kg', 'ST no', 'ST kg',
       'Finnock no', 'Finnock kg', 'Farmed MSW no',
       'Farmed MSW kg', 'Farmed 1SW no', 'Farmed 1SW kg']
df1.head()

,District,Region,Year,Month,Month no,Wild MSW no,Wild MSW kg,Wild 1SW no,Wild 1SW kg,ST no,ST kg,Finnock no,Finnock kg,Farmed MSW no,Farmed MSW kg,Farmed 1SW no,Farmed 1SW kg
0,Tweed,East,1952.0,February,2.0,107.0,400.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Tweed,East,1952.0,February,2.0,6606.0,24856.9,0.0,0.0,453.0,705.8,0.0,0.0,0.0,0.0,0.0,0.0
2,Tweed,East,1952.0,March,3.0,185.0,703.1,0.0,0.0,13.0,21.3,0.0,0.0,0.0,0.0,0.0,0.0
3,Tweed,East,1952.0,March,3.0,7008.0,26151.9,1.0,0.5,848.0,1172.5,0.0,0.0,0.0,0.0,0.0,0.0
4,Tweed,East,1952.0,April,4.0,484.0,1912.3,0.0,0.0,14.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
#Change the type of Year column to integer
df1['Year'] = df1['Year'].astype(int)

In [12]:
# Adding a new column for total Salmon number (both wild and farmed)
df1['Sl total no'] = df1['Wild MSW no'] + df1['Wild 1SW no'] + df1['Farmed MSW no'] + df1['Farmed 1SW no']
# Adding a new column for total Salmon weight (both wild and farmed)
df1['Sl total kg'] =  df1['Wild MSW kg'] + df1['Wild 1SW kg'] + df1['Farmed MSW kg'] + df1['Farmed 1SW kg']
df1.head()

,District,Region,Year,Month,Month no,Wild MSW no,Wild MSW kg,Wild 1SW no,Wild 1SW kg,ST no,ST kg,Finnock no,Finnock kg,Farmed MSW no,Farmed MSW kg,Farmed 1SW no,Farmed 1SW kg,Sl total no,Sl total kg
0,Tweed,East,1952,February,2.0,107.0,400.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107.0,400.5
1,Tweed,East,1952,February,2.0,6606.0,24856.9,0.0,0.0,453.0,705.8,0.0,0.0,0.0,0.0,0.0,0.0,6606.0,24856.9
2,Tweed,East,1952,March,3.0,185.0,703.1,0.0,0.0,13.0,21.3,0.0,0.0,0.0,0.0,0.0,0.0,185.0,703.1
3,Tweed,East,1952,March,3.0,7008.0,26151.9,1.0,0.5,848.0,1172.5,0.0,0.0,0.0,0.0,0.0,0.0,7009.0,26152.4
4,Tweed,East,1952,April,4.0,484.0,1912.3,0.0,0.0,14.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,484.0,1912.3

In [13]:
# Adding a new column for total Sea trout number
df1['ST total no'] = df1['ST no'] + df1['Finnock no']
# Adding a new column for Sea trout weight
df1['ST total kg'] = df1['ST kg'] + df1['Finnock kg']

In [ ]:
#drop columns that aren't relevant to this study to make processing more efficient
df1 = df1.drop(columns=['Wild MSW no', 'Farmed 1SW no', 'Wild MSW kg', 'Wild 1SW no', 'Wild 1SW kg', 'ST no', 'ST kg', 'Finnock no', 'Finnock kg', 'Farmed MSW no', 'Farmed MSW kg', 'Farmed 1SW kg'])

In [ ]:
#adding new columns for combined number and weight
df1['combined total no'] = df1['ST total no'] + df1['Sl total no']
df1['combined total kg'] = df1['ST total kg'] + df1['Sl total kg']
df1['average weight of fish (kg)'] = df1['combined total kg'] / df1['combined total no']
#check changes have been applied
df1.head()

# Data Visualisation

In [ ]:
plt.figure()
sns.set_palette("hls")
total_chart = sns.lineplot(data=df1, x= 'Year', y= 'combined total no').set(xlabel='Year', ylabel = 'Fish Landed')
plt.title('Salmon & Sea Trout Landings by Number')

In [ ]:
plt.figure()
sns.set_palette("rocket")
total_chart = sns.lineplot(data=df1, x= 'Year', y= 'combined total kg').set(xlabel='Year', ylabel = 'Weight Landed (kg)')
plt.title('Salmon & Sea Trout Landings by Weight')

In [ ]:
average_weight_by_region = df1.groupby('Region')['average weight of fish (kg)'].mean().reset_index()
plt.figure(figsize=(10, 6))
sns.barplot(x='Region', y='average weight of fish (kg)', data=average_weight_by_region, palette='flare')
plt.title('Average Weight of Fish (kg) by Region')
plt.xlabel('Region')
plt.ylabel('Average Weight of Fish (kg)')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

In [ ]:
combined_totals = df1.groupby('Year')[['combined total no', 'combined total kg']].sum().reset_index()

# Plotting
plt.figure(figsize=(10, 6))

# Line plot for combined total number
plt.plot(combined_totals['Year'], combined_totals['combined total no'], marker='o', label='Combined Total Number')

# Line plot for combined total weight
plt.plot(combined_totals['Year'], combined_totals['combined total kg'], marker='o', label='Combined Total Weight')

plt.title('Combined Total Number and Weight of Fish Over Time')
plt.xlabel('Year')
plt.ylabel('Quantity')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
plt.figure()
sns.set_palette("hls")
ax = sns.relplot(data = df1, x='Year', y='combined total no', hue='Region').set(xlabel = 'Year', ylabel = 'Number of Fish')
plt.title('Salmon & Sea Trout Catch Size By Region 1952-2022')

In [ ]:
plt.figure()
by_month = sns.relplot(data = df1, x='Year', y='combined total no', hue='Month').set(xlabel = 'Year', ylabel = 'Number of Fish')
plt.title('Salmon % Sea Trout Landings By Month 1952-2022')

In [ ]:
df1[average_combined weight]= df1['']

In [ ]:
msk_1952= df1[df1['Year'] == 1952]
#Create a visual to show salmon distribution by region in 1952[''] (heatmap?)
#Create a visual to show salmon distribution by region in 2022
index= ['aaa', 'bbb', 'ccc', 'ddd', 'eee']
cols = ['A', 'B', 'C', 'D']
df = msk_1952(abs(np.random.randn(5, 4)), index=index, columns=cols)
df.style.background_gradient(cmap='Blues')

In [ ]:
msk_1953 = df1[df1['Year'] == 1952]

msk_1953['District'].value_counts()

In [ ]:
#Create a visual to show which of the districts produced the heaviest salmon in 2022, removing outliers

msk_2022 = df1[df1['Year'] == 2022]

Q1 = msk_2022['combined total kg'].quantile(0.25)
Q3 = msk_2022['combined total kg'].quantile(0.75)
IQR = Q3 - Q1  

filter = (msk_2022['combined total kg'] >= Q1 - 1.5 * IQR) & (msk_2022['combined total kg'] <= Q3 + 1.5 *IQR)
msk_2022.loc[filter]  

plt.figure()

weight_2022 = sns.boxplot(data=msk_2022, x= 'District', y= 'combined total kg', showfliers=False).set(xlabel= 'District', ylabel = 'Weight Landed (kg)')
plt.title('Salmon & Sea Trout Weight 2022')

In [ ]:
#Create a visual to show salmon distribution by district on a map over time (Bokeh)

# Conclusion

Both salmon number and weight have decreased dramatically since 1952, by 

Average salmon weight